doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  block javascript
    script(src="/angular/angular.min.js")
    script(src="/javascripts/main.js")
